doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Lingo App
		link(rel="stylesheet" href="/style.css")

	body
		block content

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
	script(src="/translate.js")
	script(src="/quiz.js")