extends layout

block content
	h1 Translator 

	h3 Translate to: 
	form#translate-form
		select(name="toLang")
			option(value="fr") French
			option(value="es") Spanish
			option(value="it") Italian
			option(value="ga") Irish
			option(value="de") German
			option(value="pl") Polish
			option(value="da") Danish
			option(value="ja") Japanese
			option(value="pt") Portugese
			option(value="en") English
		input(name="resultWord")
		input(type="submit" id="submit-translation" value="Submit")

	.resultBox
		p This your result:
 
		